/* You can add global styles to this file, and also import other style files */
.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.space-creator-small {
  width: 100%;
  display: block;
  height: 5em;
}
.alert-warning {
  margin-top: 5px;
}

.no-text-decoration, .no-text-decoration:hover {
  text-decoration: none;
}

.glow-on-hover {
  font-weight: bolder;
  color: beige;
}

.text-small {
  font-size: 0.7em;
}
